#color-palette {
  height: 80px;
  text-align: center;
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 80px;
  width: 10%;
}

.pixel {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  margin: 0;
  width: 40px;
}

#pixel-board {
  margin-left: 40%;
  margin-top: 20px;
  text-align: center;
}

.line-table {
  display: block;
}

#title {
  color: #ff2652;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}

.btn {
  text-align: center;
  padding: 15px;
  display: block;
}

.divSize, .divClean {
  display: inline-block;
  margin: 15px;
}

